.headerStyle{
    max-width: 100%;
    min-width: 40%;
    padding: 20px;
    background-color: bisque;
    color: black;
}
.Nav{
    width: 100%;
    border:1px solid #fff;
    box-shadow: 0 0 5px 1px #555;
    display:flex;
}
.img{
     height: 50px;
        
     
}
.Nav-items {
    position: absolute;
    right:5px;
    display: flex;
    gap: 10px;
    padding: 5px; 
    font-family: sans-serif;
    font-size: 13px; 
    font-weight: 500;
    
    
}
.Nav-link{
    text-decoration: none;
    padding: 2px;
   
    box-shadow: 0 0 5px 1px #555;
}
