.gif{
    display: flex;
    flex-direction: column;
    
    align-items: center;
    
    }
    h3{
        text-transform: uppercase;
        margin-top: 0px;
        font-size:70px;
    
    }
    img{
        width: 300px;
        height: 300px;
    
    }
    .head{
        text-align: center;
        text-transform: uppercase;
        font-size:90px;
        margin: 0px;
    }
    
    